*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Gilroy;
}
.header{
    background-color: rgb(255, 82, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
    
}
.logo
{
    width: 200px;
}
.right_head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.right_head a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.btn-1{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 15px 15px;
    background-color: transparent;
    color:white;
    font-weight: bold;
    font-size: larger;
    gap: 5px;
    cursor: pointer;
}
.btn-2{
    border-radius: 12px;
    padding: 15px 44px;
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}

.btn-1 .arrow-icon{
    rotate: -45deg;
    background-color: rgb(255, 82, 0);
    color: white;
}
.hero{
    background-color: rgb(255, 82, 0);
    height: 660px;
    display: flex;
    justify-content: space-between;
    /* border:2px solid black; */
}
.hero_img img{
    height: 500px;
    width:250px
} 
.main_hero{
    
    display: flex;
    width: 1040px;
    /* border: 2px solid black; */
    height:350px;
   
}
.main_text{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom:40px;
    color: white;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing:-0.3px;
    line-height:56px;

}
.input_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    gap:16px
}
.location{
    display: flex;
    height:60px;
    width: 300px;
    padding: 0px 16px;
    border-radius: 16px;
    border: 1.5px solid rgba(2, 6, 12, .15);
}
input::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: larger;
    font-weight: 400;
}
.restaurant{
    height:60px;
    display:flex;
    width: 500px;
    padding: 0px 16px;
    border-radius: 16px;
    border: 1.5px solid rgba(2, 6, 12, .15);
}
.three_images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -330px;
}
.food-options-section{
    padding:0px 150px;
    padding-top: 100px;
    padding-bottom: 80px;
    /* padding-top: 500px; */
    /* border: 2px solid black; */
}
.food-option-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
}
.arrow-wrapper {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.fa-arrow-left {
  background-color: rgb(232, 232, 232);
  color: gray;
  cursor: pointer;
}

.fa-arrow-right {
  background-color: rgb(214, 214, 214);
  color: rgb(79, 79, 79);
  cursor: pointer;
}

.arrow-wrapper i {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.food-options {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px 0;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  /* overflow-x: auto; */
}
.food-options a {
  color: black;
  text-decoration: none;
}

.food-options img {
  width: 180px;
}
.shop_grocery .food-option-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 150px; */
}
.grocery_images_one{
    display: flex;
    /* border: 2px solid black; */
    padding-top: 28px;
    gap: 30px;


}
.grocery_images_one img{
    width:150px;
    height: 180px;

}
.shop_grocery{
    /* border: 2px solid black; */
    padding: 0px 150px;
}
.grocery_images_text{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    padding:10px 150px ;
    /* border: 2px solid black; */
    /* justify-content: space-between; */
    gap:130px;
    font-family: Gilroy;
    font-weight: 800;
    color: rgba(2, 6, 12, 0.75);
}
.banner{
    padding-top: 70px;
    padding-bottom: 60px;
}
.cities_food_delivery{
    /* display:flex; */
    padding:0px 220px;
    padding-top: 10px;
    /* border:2px solid black; */
    height: 350px;
}
.delivery_head{
    font-family: gilroy;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.6px;
    /* border: 2px solid black; */
}
.button_blocks {
    display: flex;
    /* border: 2px solid black; */
    height: 260px;
    text-decoration: none;
    padding:10px;
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start;
}
.banglore {
    text-decoration: none;
    border: 1.5px solid rgba(2, 6, 12, 0.15);
    padding:16px 18px;
    border-radius: 15px;

}
.button_blocks a{
    text-decoration: none;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.35px;
    text-align: center;
}
.ddggKg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 6, 12, 0.15);
    border-radius: 12px;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    width: calc(25% - 32px);
}