*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: Gilroy;
}
.header{
    background-color: rgb(255, 82, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
    
}
.logo
{
    width: 200px;
}
.right_head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.right_head a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.btn-1{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 15px 15px;
    background-color: transparent;
    color:white;
    font-weight: bold;
    font-size: larger;
    gap: 5px;
    cursor: pointer;
}
.btn-2{
    border-radius: 12px;
    padding: 15px 44px;
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}

.btn-1 .arrow-icon{
    rotate: -45deg;
    background-color: rgb(255, 82, 0);
    color: white;
}
.hero{
    background-color: rgb(255, 82, 0);
    height: 700px;
    display: flex;
    justify-content: space-between;
    /* border:2px solid black; */
}
.hero_img img{
    height: 500px;
    width:250px
} 
.main_hero{
    
    display: flex;
    width: 1040px;
    /* border: 2px solid black; */
    height:350px;
   
}
.main_text{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom:40px;
    color: white;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing:-0.3px;
    line-height:56px;

}
.input_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    gap:16px
}
.location{
    display: flex;
    height:60px;
    width: 300px;
    padding: 0px 16px;
    border-radius: 16px;
    border: 1.5px solid rgba(2, 6, 12, .15);
}
input::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: larger;
    font-weight: 400;
}
.restaurant{
    height:60px;
    display:flex;
    width: 500px;
    padding: 0px 16px;
    border-radius: 16px;
    border: 1.5px solid rgba(2, 6, 12, .15);
}
.three_images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -380px;
}
.food-options-section{
    padding:0px 150px;
    padding-top: 100px;
    padding-bottom: 80px;
    /* padding-top: 500px; */
    /* border: 2px solid black; */
}
.food-option-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
}
.arrow-wrapper {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.fa-arrow-left {
  background-color: rgb(232, 232, 232);
  color: gray;
  cursor: pointer;
}

.fa-arrow-right {
  background-color: rgb(214, 214, 214);
  color: rgb(79, 79, 79);
  cursor: pointer;
}

.arrow-wrapper i {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.food-options {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px 0;
  justify-content: flex-start;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  /* border: 2px solid black; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.food-options a {
  color: black;
  text-decoration: none;
  /* width: 100%; */
  /* border: 2px solid black; */
  flex: 0 0 auto;     
  /* position: fixed; */
}
.food-options::-webkit-scrollbar {
  display: none;
}

.food-options img {
  width: 180px;
  width: 100%;
  height:200px;
  scroll-snap-align: start;
}
.shop_grocery .food-option-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 150px; */
}
.grocery_images_one{
    display: flex;
    /* border: 2px solid black; */
    padding-top: 28px;
    gap: 30px;
    overflow: scroll;
}
.grocery_images_one::-webkit-scrollbar{
    display: none;
}
.grocery_images_one img{
    width:150px;
    height: 180px;

}
.shop_grocery{
    /* border: 2px solid black; */
    padding: 0px 150px;
}
.grocery_images_text{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    padding:10px 150px ;
    /* border: 2px solid black; */
    /* justify-content: space-between; */
    gap:130px;
    font-family: Gilroy;
    font-weight: 800;
    color: rgba(2, 6, 12, 0.75);
}
.banner{
    padding-top: 70px;
    padding-bottom: 60px;
}
.cities_food_delivery{
    /* display:flex; */
    padding:0px 220px;
    padding-top: 10px;
    /* border:2px solid black; */
    height: 350px;
}
.delivery_head{
    font-family: gilroy;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.6px;
    /* border: 2px solid black; */
}
.button_blocks {
    display: flex;
    /* border: 2px solid black; */
    height: 260px;
    text-decoration: none;
    padding:10px;
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start;
}
.banglore {
    text-decoration: none;
    border: 1.5px solid rgba(2, 6, 12, 0.15);
    padding:16px 18px;
    border-radius: 15px;

}
.button_blocks a{
    text-decoration: none;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.35px;
    text-align: center;
}
.ddggKg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 6, 12, 0.15);
    border-radius: 12px;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    width: calc(25% - 32px);
}
.restos{
    /* border: 2px solid black; */
    padding:0px 150px;
    padding-top: 80px;
    height:540px;
    display: flex;
    flex-direction: column;
}
.resto_img_1 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* width: 4000px;*/
} 
.card_details{
    display: flex;
    font-size: 13px;
    font-weight: 600;
    color: rgba(2, 6, 12, 0.6);
    flex-direction: column;
    gap:8px;
    line-height: 17px;
    text-decoration: none;
    letter-spacing: -0.33px;
    width: 100%;
    padding:12px;
    font-family: Gilroy;
    
}
.details_one,.details_two,.details_three,.details_four,.details_five{
    display:flex;
    justify-content: space-between;
    color:rgba(2, 6, 12, 0.6);
    /* border: 2px solid black; */
}
.resto_img_1{
    border: 1px solid rgb(193, 196, 200);
    border-radius: 16px;
    width: 350px;
    margin-top:16px;
    flex-shrink: 0;
    
    /* display: flex;
    flex-direction: column; */

}

.details_three button{
    border: none;
    border-radius: 12px;
    padding:2px 8px;
    text-align: center;
    background: var(--Light-Button-Background-Tertiary---Low, #f0f0f5);
    font-family: gilroy;
    cursor: pointer;

}
.details_four{
    display: flex;
    height:36px;
    color: #f0f0f5;
    font-weight: 800;
    background-color: rgb(27, 166, 114);;
    border-radius: 12px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 5px;
    align-items: center;
    gap:20px;
}
.details_five{
    display: flex;
    align-items: center;
    background-color: rgb(172, 233, 172);
    border-radius: 12px;
    padding-left: 8px;
    height:36px;
    color: green;
    
}
.img_resto{
  width: 100%;
  height: 200px;
  background-image: url("https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/DINEOUT_ALL_RESTAURANTS/IMAGES/RESTAURANT_IMAGE_SERVICE/2024/9/25/d9cabbe8-13f0-4581-809a-455776bb5d8a_image4487a6c993754471f99c03ffac3103512.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: white;
  display: flex;
  align-items: flex-end;
  /* flex-shrink: 0; */
}
.card h2{
    padding-left: 12px;
}
.resto_body{
    display: flex;
    gap: 16px;
    width: 100%;         
    overflow-x: auto;         
    scroll-snap-type: x mandatory;
}
.resto_body::-webkit-scrollbar {
  display: none;
}
.footer_top{
    display: flex;
    background-color:  rgb(243, 240, 240);
    height: 450px;
    margin-top: -28px;
    padding-top:48px;
    padding-right: 220px;
    padding-left: 220px;
    gap:9%;
}
.footer_logo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_company{
    display: flex;
    flex-direction: column;
    gap:16px;
    text-decoration: none;
}
.damn{
    text-decoration: none;
    color: rgba(2, 6, 12, 0.6);
    font-weight: 500;
    gap:16px;
}
.contact_us, .Legal{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Legal{
    margin-top: 62px;
}
.available_in{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.life_at_swiggy{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.athy {
    font-family: Gilroy;
    color: rgba(2, 6, 12, 0.92);
}
.ldPKOn {
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
    margin-top: 16px;
}
.Social{
    margin-top:24px;
}
